html { font-size: 16px; }
@media (min-width: 1025px) and (max-width: 1920px) {
  .check_content {
    margin: 12vw auto;
  }
  .check_content>p {
    margin-bottom: 2vw;
  }
  .check_icon {
    margin: 5vw auto;
  }
  .check_icon img {
    margin: 1vw;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .check_content {
    margin: 20vw auto;
  }
  .check_content>p {
    margin-bottom: 8.854vw;
  }
  .check_icon {
    margin: 12vw auto;
  }
  .check_icon img {
    margin: 2.083vw;
  }
}
.check_content { width: inherit; height: 400px; text-align: center;
 line-height: 40px;
font-size: 1.5rem; font-family: 'Song Myung', serif;}
.check_content>p{font-family: 'Black Han Sans', sans-serif; font-size: 2.3rem;
}
.check_icon { width: 70px; height: 70px; background-color: #c48b9f;
border-radius: 50%; }
.check_icon img {width: 60%; }
