/* owl-kitchen main css */
html { scroll-behavior: smooth; font-size: 16px;}
body { margin: 0; padding: 0; box-sizing: border-box;  }
header { width: 100%; height: 12vw; background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
## Device = Desktops
## Screen = 1281px to higher resolution Desktops
*/

/* @media (min-width: 1281px) {

}*/

/*
## Device = Laptops, Desktops
## Screen = B/w 1025px to 1280px
*/

 @media (min-width: 1025px) and (max-width: 1280px) {
   header {
     height: 54px;
   }
   .menu-bar {
     height: 800px;
   }
   .logo >img {
     width: 80px;
   }
   .tabBar > span { width: 30px; height: 3px;}
   .icon { width: 100px;}
   .icon > img{ width: 41px;}
   .food, .user > p {margin: 0 13.3vw}
   .food img { height: 200px;}

   .container { height: 800px; }
   .user { height: 800px; }
}


/*
## Device = Tablets, Ipads (portrait),
## Screen = B/w 768px to 1024px
*/


@media (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 54px;
  }
  .menu-bar {
    height: 800px;
  }
  .logo >img {
    width: 80px;
}
.tabBar > span { width: 30px; height: 3px;}
.icon { width: 100px;}
.icon > img{ width: 41px;}
.food, .user > p {margin: 0 28vw}
.food img { height: 200px;}

.container { height: 800px; }
.user { height: 800px; }
}


/*
## Device = Low Resolution Tablets, Mobiles (Landscape)
## Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 768px) {
  header {
    height: 54px;
  }
  .menu-bar {
    height: 770px;
  }
  .logo >img {
    width: 80px;
}

.tabBar > span { width: 34px; height: 3px;}
.icon { width: 100px;}
.icon > img{ width: 41px;}
.food, .user > p {margin: 0 13.3vw}
.food img { height: 200px;}
.container { height: 670px; }
.user { height: 770px; }
}

/*
## Device = Most of the Smartphones Mobiles (Portrait)
## Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 599px) {
  header {
    height: 54px;
  }
  .menu-bar {
    height: 770px;
  }
  .logo >img {
    width: 80px;
}

.tabBar > span { width: 30px; height: 2px;}
.icon { width: 90px;}
.icon > img{ width: 40px; margin-top: -5px;}
.user > p { margin-left: 9.756vw}
.food { margin: 0 9.756vw;}
.food img { height: 150px;}
.container { height: 670px; }
}

header > ul { height: inherit; display: flex; align-items: center;
}
header li { text-align: center;}
.tabBar, .icon {flex: 1;}
.tabBar { margin-left: 20px;}
.logo{flex: 3; margin-right: 20px;}

.tabBar > span {  background: #262626;
display: block; top: calc(50% - 1px);left: calc(50% - 15px);
transition: 0.2s;}
.tabBar > span:nth-child(1) {
  transform: translateY(-10px);
}
.tabBar > span:nth-child(3) {
  transform: translateY(10px);
}
.active > span:nth-child(1) {
  transform: translateY(0px) rotate(-40deg);
}
.active > span:nth-child(3) {
  transform: translateY(0px) rotate(40deg);
}
.active > span:nth-child(2) {
  transform: translateX(-30px);
  opacity: 0;
}

.menu-bar {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #9796f0;
  transition: 0.5s;
  transform: translateX(-100%);
}
.active{
  transform: translateX(0);
}
.user {
  background-color: #ffdede;
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  transform: translateX(200%);
}
.my-profile { width: 300px; height: 340px; border: 2px solid #131e22;
 margin: 2.25rem auto;
 border-radius: 30px; background-color: #fff;}
.photo { width: 120px; height: 120px;
  margin: 2rem auto; position: relative;}
.photo > img { width: inherit; height: inherit; border-radius: 150px;
align-content: center; }
.name, .info span, .info p { font-family: 'Handlee', cursive; font-family: 'Do Hyeon', sans-serif; }
.name { font-size: 1.7rem; text-align: center; margin-top: 10px; }
.visit, .review1 { display: inline-block; width: 46%; text-align: center;
  color: #333; font-size: 1rem;}
.info { width: inherit; height: inherit; margin-top: 30px;}
.info span { font-size: 1.7rem; }
.user > p { font-size: 1rem; }
.food { width: inherit; height: 200px; display: flex;}


.active { transform: translateX(0); }
.menu-bar ul {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  float: left;
}
.menu-bar ul li {
  height: 30%;
  width: 100%;
  display: table;
  list-style: none;
}
.menu-bar ul li a {
  list-style: none;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
  font-familly: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #131e22;
  text-decoration: none;
  border-right: 1px solid rgba(0,0,0,0.1);
}




.container { width: 100%;  background-color: #ffdede;
  position: relative; overflow-y: scroll; overflow-x: hidden;
}
